<div class="container">
  <div class="row profile">
    <div class="col-md-3" align="center">
      <h2 class="page-header">Profile</h2>
      <br />
      <div class="profile-userpic">
        <img src="/images/default_profile_picture.png" class="img-responsive" />
      </div>
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <div class="">{{user.name}}</div>
        </div>
        <div class="profile-usertitle-username">
          <div class="">{{user.username}}</div>
        </div>
        <div class="profile-usertitle-email">
          <div class="">{{user.email}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
